<h1>Welcome, <%=current_user.username%></h1>

<% @tweets.each do |tweet|%>

<p><a href="/tweets/<%=tweet.id%>">Tweet: </a><%=tweet.content%></p>

<%end%>
<p><a href="/logout">Logout</a></p>
<p><a href="/tweets/new">Create New Tweet</a></p>